* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.messages-container{
  display: inherit;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  height: 90vh;
  width: 90vw;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 5px;
  max-width: 1101px;
  overflow: hidden;
  overflow-y: scroll;
  align-content: stretch;
}
.my-message{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid rgb(94, 94, 94);
  background-color: rgb(211, 240, 167);
  border-radius: 10px;
  width: 70vw;
  max-width: 400px;
  height: auto;
}
.message{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid rgb(94, 94, 94);
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  width: 70vw;
  max-width: 400px;
  place-self: flex-start;
}
.my-message p{
    overflow-wrap: break-word;  
    max-width: 320px;
    margin: 5px
}
.message p{
    overflow-wrap: break-word;  
    max-width: 320px;
    margin: 5px
}
.time-message{
  position: absolute;
  bottom: 3px;
  right: 7px;
  font-size: 10px;
  color: grey;
  z-index: 100;
}
.username{
  position: absolute;
  top: 3px;
  left: 7px;
  font-weight: bold;
  font-size: 9px;
  color: rgb(62, 62, 62);
}
.form{
  width: 90%;
  max-width: 1100px;
}
.enter-message{
  display: inline;
  width: 81%;
  height: 50px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}
.btn{
  display: inline;
  width: 17%;
  height: 50px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px 5px 5px;
  float: right;
  background-color: rgb(89, 133, 255);
  color: whitesmoke;
}
.btn-login{
  display: inline;
  width: 30%;
  height: 50px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px 5px 5px;
  float: right;
  background-color: rgb(89, 133, 255);
  color: whitesmoke;
}